@page "/"

<PageTitle>Orders</PageTitle>

<h1>Orders</h1>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Customer Name" />
    <input type="text" class="form-control" placeholder="Address"/>
    <button class="btn btn-primary" type="button">Add</button>

</div>


